<div class="row">
  <div class="col">
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        {{#pagination pagination}}
        <li class="page-item{{#if this.active}} active{{/if}}{{#if this.disabled}} disabled{{/if}}">
          <a class="page-link" href="?page={{this.page}}">{{this.label}}</a>
        </li>
        {{/pagination}}
      </ul>
    </nav>
  </div>
</div>