<form action="/posts" method="get" class="search-form">
  <div class="tags-field">
    <input type="search" placeholder="Search" name="query" class="tags-input">
    <ul class="tags-autocomplete" hidden></ul>
  </div>
  <button type="submit" class="search-btn">Search</button>
</form>