<form action="/posts" method="get">
  <div class="input-group">
    <div>
      <input type="search" placeholder="Search" name="query" class="form-control">
      <ul class="tags-autocomplete" hidden></ul>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>