<div class="container">
  <div class="row justify-content-center">
    <div class="col-xxl-6 col-md-8 col-sm-10">
      <img src="/images/header2.png" alt="Header" class="w-100">
      <p class="text-center my-1">Rule#34: If it exists there is porn of it. If not, start uploading.</p>
      <nav class="nav justify-content-center">
        <a href="/posts" class="nav-link">Posts</a>
        {{#if user}}
        <a href="/account/{{user.id}}" class="nav-link">My Account</a>
        {{/if}}
        {{#unless user}}
        <a href="/login" class="nav-link">Login</a>
        <a href="/register" class="nav-link">Register</a>
        {{/unless}}
      </nav>
      </>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-6 col-sm-8">
        {{> searchbar }}
      </div>
    </div>
  </div>
</div>