<img src="/images/header2.png" alt="Header">
<p>Rule#34: If it exists there is porn of it. If not, start uploading.</p>

<nav>
  <a href="/posts">Posts</a>
  {{#if user}}
  <a href="/account">My Accout</a>
  {{/if}}
  {{#unless user}}
  <a href="/login">Login</a>
  <a href="/register">Register</a>
  {{/unless}}
</nav>

<br>

<form action="/posts" method="get">
  <input type="search" name="query" id="queryInput" placeholder="Search">
  <button type="submit">Search</button>
</form>