<h1 class="title">Login</h1>
<form action="/login" method="post" class="auth-form">
  <div class="form-field">
    <input type="text" name="username" placeholder="Username" class="form-input">
  </div>
  <div class="form-field">
    <input type="password" name="password" placeholder="Password" class="form-input">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>