<aside class="sidebar">
  {{> search }}
  {{> tags-list }}

  <a href="{{post.originalImageUrl}}" target="_blank">View Original</a>
  <button type="button" id="favoriteBtn" data-postid="{{_id}}">Add to favorites</button>
</aside>

<main class="content">
  <img src="{{post.previewImageUrl}}" alt="{{post.tagsString}}" class="preview">
</main>

<script src="/scripts/autocomplete.js"></script>
<script src="/scripts/post.js"></script>