@import 'navbar.css';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #F9F9F9;
  color: #171717;
}

.sidebar {
  width: 200px;
  float: left;
  margin-right: 20px;
}

.tags-list {
  list-style: none;
  padding: 0;
}

.tag {
  word-wrap: break-word;
}

.tag > a {
  text-decoration: none;
  color: inherit;
}

.tag > a:hover {
  text-decoration: underline;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.post {
  display: block;
  max-width: 300px;
  max-height: 300px;
}

.post-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.tags-field {
  position: relative;
}

.tags-input {
  max-width: 100%;
}

.search-btn {
  margin-top: 2px;
  width: 100%;
}

.tags-autocomplete {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #000;
  list-style: none;
}

.tags-autocomplete li {
  padding: 2px 4px;
}

.tags-autocomplete li:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
