.navbar {
	padding: 0 30px;
}

.nav {
	height: 54px;
	display: flex;
	align-items: center;
	width: 100%;
}

.nav-list {
	display: flex;
	align-items: center;
	gap: 8px;
	list-style: none;
}

.nav-link {
	color: inherit;
	font-weight: 700;
	text-decoration: none;
	color: #696969;
	transition: color 150ms ease;
}

.nav-link:hover,
.nav-link-active {
	color: #171717;
}

.nav-list-auth {
	margin-left: auto;
}

.searchbar {
}